/* You can add global styles to this file, and also import other style files */
footer {
    text-align: center;
    background-color: rgb(255, 209, 166);
    border-bottom: 2px solid rgb(230, 55, 2);
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 2px;
}
